<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>本草堂</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/logo-053aee35a3b8a195feafb79871015b1a040c478715bcfbd930ca7deeae0a0e30.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">


   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "font-awesome.min.css" %>
  <%= stylesheet_link_tag "owl.carousel.min.css" %>
  <%= stylesheet_link_tag "venobox.css" %>
  <%= stylesheet_link_tag "aos.css" %>
  <!-- Template Main CSS File -->
  <%= stylesheet_link_tag "style.css" %>
 

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '373596407269888');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=373596407269888&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->


  <!-- =======================================================
  * Template Name: Regna - v2.1.0
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="/assets/logo-053aee35a3b8a195feafb79871015b1a040c478715bcfbd930ca7deeae0a0e30.png" alt=""></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">主页</a></li>
          <li><a href="#services">症状</a></li>
          <li><a href="#about">关于我们</a></li>
          <li><a href="#contact">联系我们</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>中药王-本草堂</h1>
      <h2>马来西亚50年独家草药配方。三大产品：汤氏大补丸，补肾丸，水晶药膏。</h2>
      <a href="#about" class="btn-get-started">点我开始</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" style="background: #D4D4D4;">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">老朋友！<span style="color:red;">9个症状里</span>中4个以上！真的是<span style="color:red;">肾虚</span>了！</h3>
          <p class="section-description"></p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/forget1-79bca80ad3a7e5008ab143a4f5c3dffa69f0dd9efe3ba788e7255ec1803f56a3.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>健忘</i></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/losthair-526161d3ea1fa0646493d3ac56a0b9c908cd99a6de682ac873f162d085398a85.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>脱发</i></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/peenight2-deea4ed0213686c35fe843a67662bf2aba2847ce3e62c3599603b2a3686596ad.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>夜尿</i></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/early1-f64d58d0ed6fd2ac23e532fb9f5f817eecf43020242281eccccfb5b57e90ed12.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>早泄</i></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/pee1-468ffc7ad28b4edbdae5341b18cfcd51521c99b56679175b1fd7a88beddd8d7d.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>尿黄</i></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/shaking1-681392903f8fa0ddcf121a902c48eb87f4609f6ed0d58733387d3b6e6c80a640.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>麻痹</i></a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/cantsleep-4c7a8363bc75e3dd59387f5f2ad7763981c2f819e719ef1211d6ec687c8a3d3d.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>失眠</i></a></div>
            </div>
          </div>          
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/dirty-b93f6f5a9d0dfdaa56ed58628acc3a58c4aa39ef78b8c0ad0af2d2370b9905aa.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>异味</i></a></div>
            </div>
          </div> 
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box" style=" background: url(/assets/cold-41db05a38ab915dcf24f71f87df45277aa45ae59b69d0d729b7a449acdd09141.png); background-size: 100% 100%;">
              <div class="icon"><a href=""><i>发冷</i></a></div>
            </div>
          </div>
        </div>


      </div>
    </section><!-- End Services Section -->

  <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">肾虚不丢人，<span style="color:red;">无视治疗</span>伤害身边亲人。 挽回还来得及。<br>
            <span style="color:red;">↓&nbsp;↓&nbsp;看这里↓&nbsp;↓&nbsp;</span></h3>
          <p class="section-description"></p>
        </div>


     
        <div class="row about-container">
          
          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">
            邱天龍
              <br>
            男性大补丸</h2>
            <p>
              马来西亚50年独家草药配方。
              汤氏草药，重视自己的身体保健情况。
              有效<b >改善男性腰酸背痛，活血化淤、提早收工、有心无力、尿泡、尿不尽、重异味、抗老化、大補中气、提神醒脑、降胆固醇，中年脱发、高血脂、失眠 、健忘</b>。
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fa fa-heartbeat"></i></div>
              <h4 class="title"><a href=" ">纯中药配制</a></h4>
              <p class="description">&nbsp;</p>
            </div>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">百分百无类固醇</a></h4>
              <p class="description">&nbsp;</p>
            </div>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">百分百无止痛剂</a></h4>
              <p class="description">&nbsp;</p>
            </div>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href=""> 符合马来西亚国家药物监控局安全标准 </a></h4>
              <p class="description">&nbsp;</p>
            </div>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
              <button type="button" class="btn btn-danger">&emsp;&emsp;&emsp;&emsp;点我预购&emsp;&emsp;&emsp;&emsp;</button>
            </div>
          </div>            
          <div class="col-lg-5 content order-lg-1 order-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/assets/dapuwan-374c0110f0036db51a6773c3678a0c296f07362f413b34b26df36428303ff2b5.jpg" style="width: 100%;
  height: auto;" width="600" height="600" >
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <div class="fb-page" data-href="https://www.facebook.com/bctherbalists" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bctherbalists" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bctherbalists">中药王-本草堂 Bct Herbalists &amp; Wholesale</a></blockquote></div>
    </div>
  </div>
  

<br><br>
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">联系我们</h3>
        </div>
      </div>


      <div class="container mt-5" style="margin-right:95px;">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>中药王-本草堂</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>016-705 0808</p>
              </div>
            </div>

            <div class="social-links">
              <a><i><br></i></a>
              <a href="https://www.facebook.com/bctherbalists" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/bct_168/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a><i><br></i></a>
            </div>

          </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
        Designed by <a href="https://bootstrapmade.com/">TWEB COMMERCE SERVICES</a>

        <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_CN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=install_email
        page_id="115429020192809">
      </div>
      </div>
    </div>


  </footer><!-- End Footer -->

  <a href="https://wa.link/4b5i7a"class="back-to-facebook"><img src="/assets/whatapps-e4195645ad2663b61cabc73757cc178e34e5884fb6022a5bd1b936945b18aeb7.png" width="60"></a>



  <!-- Vendor JS Files -->
  <%= javascript_include_tag "jquery.min.js"%>
  <%= javascript_include_tag "bootstrap.bundle.min.js"%>
  <%= javascript_include_tag "jquery.easing.min.js"%>
  <%= javascript_include_tag "validate.js"%>
  <%= javascript_include_tag "counterup.min.js"%>
  <%= javascript_include_tag "jquery.waypoints.min.js"%>
  <%= javascript_include_tag "isotope.pkgd.min.js"%>
  <%= javascript_include_tag "superfish.min.js"%>
  <%= javascript_include_tag "hoverIntent.js"%>
  <%= javascript_include_tag "owl.carousel.min.js"%>
  <%= javascript_include_tag "venobox.min.js"%>
  <%= javascript_include_tag "aos.js"%>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="rtybUXQA"></script>


  <!-- Template Main JS File -->
  <%= javascript_include_tag "main.js"%>  

</body>

</html>